
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,body{
    height:98.48%;
    background:linear-gradient(to bottom right, rgb(39, 223, 103), #908f8f);
    background-repeat: no-repeat;
}

body{
    margin:0;
    padding:0;
    color:white;
}

h1{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.welcome{
    font-family: "Lobster", sans-serif;
    flex-direction: column;
    height:10px;
}

.Welcome{
    display: flex;
    font-size: 50px;
    justify-content: center;
}

.psignin{
    display:flex;
    justify-content: center;
    font-size: 15px;
    color:rgb(238, 232, 232);
}

#logoname{
    display: flex;
    align-items: center;
    font-size: 50px;    
    font-family: "Lobster", sans-serif;
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin: 100px auto 0px;
    border-radius: 8px;
}

img{
 height:150px; 
}



.logins{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}

.container{
    position: relative;
}

input{
    color:rgba(255, 255, 255);
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px rgba(28,26,26) inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

.ph_left{
    position: absolute;
    left:280px;
    top:20px;
}

#user{
    background:rgb(28, 26, 26);
    border-radius: 10px;
    border-width: 8px;
    border: 8px solid rgb(28, 26, 26); 
    width:300px;
    height:50px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#email{
    background:rgb(28, 26, 26);
    border-radius: 10px;
    border-width: 8px;
    border: 8px solid rgb(28, 26, 26); 
    width:300px;
    height:50px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pass{
    background:rgb(28, 26, 26);
    border-radius: 10px;
    border-width: 8px;
    border: 8px solid rgb(28, 26, 26); 
    width:300px;
    height:50px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.signin{
    position: relative;
}

#loginin{
    position: absolute;
    left:-35px;
    margin :50px;
    background:#a822de; 
    border-radius: 12px;
    border-width: 8px;
    border: 8px solid #a822de; 
    width:300px;
    font-size: 25px;
    height: 50px;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#loginin:hover{
    background: #9328bd;
    border: rgb(220, 95, 95);
    cursor: pointer;
}

#isaccreated{
    position: absolute;
    background: transparent;
    border:none;
    color:rgb(0, 0, 0, 0.4);
    left:0px;
    bottom:-10px;
}

#isaccreated:hover{
    cursor:pointer;
}

.reg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}

#register{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin: 100px auto 0px;
    border-radius: 8px;
}

.registration{
    position: relative;
}

#accnotcreated{
    position: absolute;
    background: transparent;
    border:none;
    color:rgb(0, 0, 0, 0.4);
    left:0px;
}

#accnotcreated:hover{
    cursor:pointer;
}

#Forgoturpass{
    position: absolute;
    background: transparent;
    color:rgba(0, 0, 0, 0.4);
    border: none;
    bottom: -10px;
    left: 170px;
}

#Forgoturpass:hover{
    cursor: pointer;
}

#loading{
    position: absolute;
    bottom: 100px;
    width:50px;
    height:50px;
    border:3px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}